/* reset */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding-left: 3px;
    padding-right: 3px;


    /*colors*/
    --main-blue: rgb(0, 96, 160);
}

/*Header*/
h1 {
    color: white;
    background: var(--main-blue);
    padding: 1rem;
    margin: 0 -3rem 1rem -1rem;
}

h2 {
    margin-top: 18px;
    margin-bottom: 18px;
}

h3:before {
    counter-increment: article;
    content: counter(article) " ";
}

h3 {
    border-bottom: 1px solid black;
    margin-top: 18px;
    margin-bottom: 12px;
}

/*Navigation/Menü*/
nav {
    border: 1px solid var(--main-blue);
    background-color: #F2F3F4;
    margin-left: 2px;
    margin-right: 2px;
    list-style: none;
    padding-left: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
}

nav a {
    color: var(--main-blue);
    font-weight: normal;
}

#italiano::before {
    background-image: url('../media/flag-it.svg');
    width: 1rem;
    height: 0.75rem;
    content: "";
    display: inline-block;
    background-size: 1rem 0.75rem;
}

#francais::before {
    background-image: url('../media/flag-fr.svg');
    width: 1rem;
    height: 0.75rem;
    content: "";
    display: inline-block;
    background-size: 1rem 0.75rem;
}

#english::before {
    background-image: url('../media/flag-en.svg');
    width: 1rem;
    height: 0.75rem;
    content: "";
    display: inline-block;
    background-size: 1rem 0.75rem;
}

nav ul {
    list-style-type: none;
}

/* document */
body {
    font-size: 1rem;
    font-family: "URW Gothic L", "Helvetica", "Arial", sans-serif;
    counter-reset: article;
}

a{
    color: black;
}

/* images */
#marchant-calculator{
    box-sizing: border-box;
    float: left;
    width: 200px;
    margin-right: 10px;
    margin-bottom: 20px;
}

#marchant-calculator figcaption{
    box-sizing: border-box;
    width: 170px;
}

#marchant-calculator img {
    height: auto;
    width: 200px;
}

figcaption{
    color: lightgray;
    font-size: 0.60em;
}

#logo {
    float: left;
    position: relative;
    top: 8px;
    width: 80px;
    height: 70px;
    margin-left: 5px;
    margin-right: 14px;
}

/* text */
p {
    margin-top: 7px;
    margin-bottom: 7px;
}

.changes{
    margin-top: 8px;
    border: 1px dotted black;
    display: inline-block;
    width: 100%;
    font-style: italic;
}

.changes span:first-child{
    float: left;
}

.changes span:last-child{
    float: right;
}


.small {
    font-size: smaller;
}

:not(nav) > ul > li {
     color: var(--main-blue);
    font-weight: bold;
    list-style: none;

}

:not(nav) > ul > li li {
    color: black;
    font-weight: normal;
    margin-left: 9px;
}

:not(nav) > ul > li li:before{
    content: '⌖ ';
}

/* table */
table{
    border-collapse: collapse;
    text-align: center;
}

thead{
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    background-color: var(--main-blue);
    color: white;
}

thead th{
    border-left: 0.05px solid cornflowerblue;
    border-right: 0.05px solid cornflowerblue;
}

tbody th{
    text-align: left;
}

tr{
    box-sizing: border-box;
    height: 30px;
}

/* forms */
#addautor ul li {
    color: gray;
    margin-bottom: 20px;
}

button {
    background-color: var(--main-blue);
    color: white;
    box-sizing: border-box;
    border-radius: 5px 5px 5px 5px;
    line-height: 2;
}


#font-size-form {
    float: right;
}

#font-size-form > label, #font-size-form > input, #font-size-form > output {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    margin: 0;
}

/* iframe - calculator */
#calculator {
    width: 400px;
    height: 425px;

}

/* footer */
footer{
    background-color: var(--main-blue);
    color: white;
    line-height: 1.75;
}

#contact{
    font-size: large;
}
#foot_c{
    font-style: italic;
}
#foot_u{
    text-decoration: underline;
}

footer a {
    color: white;
}
footer img {
    vertical-align: middle;
}
